body {
	width: 100%;
	font-family: lato;
}

/*MENU BURGER*/
	a:link{
		text-decoration: none;
	}
	.hamburger{
		background:none;
		position:absolute;
		top:0;
		left:0;
		line-height:45px;
		padding:12px 20px 0px 20px;
		color:#fff;
		border:0;
		font-size: 1.5em;
		font-weight:bold;
		cursor:pointer;
		outline:none;
		z-index:10000000000000;
	}

	header {
		width:100%; 
		background:#004b72; 
		height:70px; 
		line-height:50px;
		position: fixed;
		z-index: 3000;
	}

	.toggle-fl img {
		width: 40px;
	}

	.flag-toggle {
		margin-right: 45px;
		position: relative;
    	left: 92%;
	}

	.flag {
		position:absolute;
			top:5px;
			right:30px;
	    padding: 15px 39px 0 0;
	}
	.arrow {
		position:absolute;
		top: 25px;
	    right: 10px;
	    width: 23px;
	    cursor: pointer;
	}

	.width-logo {
		width: 130px;
		display: block;
		margin: auto;
	}

	.logo {
		width: 130px;
	    padding: 8px;
	}

/*NAV*/
nav {
	position: fixed;
    z-index: 10000;
    width: 270px;
    height: 100%;
    background: #004b72;
    text-align: center;
}

nav h1 {
	padding: 35px;
    font-size: 2em;
    color: white;
}

nav ul a li {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: white;
}

nav ul a li:hover {
	background: #ffcc00;
	transition: 0.6s;
}

.close {
	padding: 65px;
    color: white;
    cursor: pointer;
}

/*PAGE ONE*/
.page-one {
	background: url(../img/paris-r.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	transition:1s;
	    float: left;
    	clear: both;
}
	.block-search {
		width: 50%;
		float: left;
	}
	.rechercher {
    		float: left;
    	background: #004b72;
    	color: white;
    	width: 285px;
		height: 530px;
		border: 9px solid #ffcc00;
		padding: 15px;
		margin: 20%;
	}
	.rechercher h1 {
		font-size: 22px;
		text-align: center;
		margin-top: 22px;
		margin-bottom: 15px;
	}
	.rechercher input[type="text"] {
		margin: auto;
		display: block;
		width: 255px;
		padding: 4%;
		border: 2px solid #ffcc00;
	}
	.rechercher input[type="radio"] {
		margin-left: 20px;
		margin-right: 5px;
		margin-top: 35px;
		margin-bottom: 35px;
		font-size: 20px;
	}
	.rechercher label {
		font-size: 17px;
	}
	.rechercher input[type="date"] {
		margin: auto;
		display: block;
		width: 255px;
		padding: 4%;
		border: 2px solid #ffcc00;
	}
	.rechercher input[type="number"] {
		margin: 36px 0px 35px 27px;
		display: inline-block;
		width: 100px;
		padding: 4%;
		border: 2px solid #ffcc00;
	}
	.rechercher button {
		margin: auto;
		display: block;
		    font-size: 12px;
		    background: #ffcc00;
		    padding: 20px 80px;
		    border: none;
		    border-radius: 10px;
		    color: #004b72;
		    font-weight: bold;		
	}

	.about {
		width: 50%;
		float: right;
		margin: 140px 0px;
		color: ghostwhite;
	}

	.about-resp {
		width: 50%;
		float: right;
		margin: 140px 0px;
		color: ghostwhite;
	}

	.about h1 {
	    font-size: 25px;
	    text-transform: uppercase;
	    line-height: 1.4;
	    letter-spacing: 2px;
	}
	.about button {
		font-size: 12px;
		background: #ffcc00;
		padding: 20px 100px;
		border: none;
		border-radius: 10px;
		color: #004b72;
		font-weight: bold;
	}

	.about article {
		font-size: 25px;
		margin-bottom: 70px;
	}

	.bordure {
		border: 2px solid #ffcc00;
	    width: 80%;
		margin: 45px 0;
	}


/*PAGE TWO*/
.page-two {
	background: url(../img/page-two/background.jpg);
	background-size: cover;
	width: 100%;
		float: left;
    	clear: both;
}
	.page-two h1 {
	    font-size: 40px;
	    letter-spacing: 13px;
	    text-align: center;
	    padding: 65px 0 50px 0;
	    color: #013651;
	}
	.page-two p {
		font-size: 18px;
		text-align: justify;
		text-indent: 3em;
		line-height: 1.8;
	}
		.bloc-p1 {
		    width: 70%;
    		margin: 30px auto 100px auto;

		}
		.bloc-p1 img {
		    width: 500px;
			margin: auto;
			display: block;
		}

		.bloc-p1 em {
			font-weight: bold;
		}


/*PAGE THREE*/
.page-three {
	background-size: cover;
	width: 100%;
	height: 93vh;
	position: relative;
	    float: left;
    	clear: both;
}
	.block1 {
		width: 50%;
		height: 100vh;
		background:url(../img/background/p3.jpg) no-repeat;
		background-size: cover;
		float: left;
	}
	.text-none {
		display: none;
		width: 90%;
		margin: auto;
	}
		.text-none h2{
			text-transform: uppercase;
			text-align: center;
			color: white;
			font-size: 35px;
			padding-top: 50px;
			line-height: 4;
			letter-spacing: 5px;
		}
			.text-none button {
				display: block;
				margin: auto;
				text-align:center;
				font-size: 12px;
				background: #ffcc00;
				padding: 20px 100px;
				border: none;
				border-radius: 10px;
				color: #004b72;
				font-weight: bold;
				-webkit-appearance: none;
			}

	.block2 {
		width: 25%;
		height: 100vh;
		background: #004b72;
		float: left;
	}
		.block2 h2{
			text-transform: uppercase;
			text-align: center;
			color: white;
			font-size: 30px;
			padding-top: 50px;
			line-height: 4;
		}
			.block2 button {
				display: block;
				margin: auto;
				text-align:center;
				font-size: 12px;
				background: #ffcc00;
				padding: 20px 100px;
				border: none;
				border-radius: 10px;
				color: #004b72;
				font-weight: bold;
				-webkit-appearance: none;
			}

	.block3 {
		width: 25%;
		height: 100vh;
		float: left;
	}

	/*CAPTION EFFECT*/
	#mainwrapper {
		height: auto;
		text-align: center;
		width: 196%;
	}

	#mainwrapper h3 {
		font-weight: bold;
		color: #ffcc00;
		padding: 15px 0 20px 0;
    	font-size: 30px;
	}

	#mainwrapper p {
		text-align: justify;
	}



	/* Image Box Style */
	#mainwrapper .box {
		cursor: pointer;
		height: 31.1%;
		float: left;
		position: relative;
		overflow: hidden;
		width: 51%;
	}
	#mainwrapper .box img {
		width: 100%;
		position: absolute;
		left: 0;
			-webkit-transition: all 300ms ease-out;
			-moz-transition: all 300ms ease-out;
			-o-transition: all 300ms ease-out;
			-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
	}

	/* Caption Common Style */
	#mainwrapper .box .caption {
		background-color: rgba(0,0,0,0.8);
		position: absolute;
		color: #fff;
		z-index: 100;
			-webkit-transition: all 300ms ease-out;
			-moz-transition: all 300ms ease-out;
			-o-transition: all 300ms ease-out;
			-ms-transition: all 300ms ease-out;	
			transition: all 300ms ease-out;
		left: 0;
	}

	/** Caption 2: Full Width & Height **/
#mainwrapper .box .full-caption {
    width: 93%;
    position: absolute;
    height: 170px;
    top: -200px;
    text-align: center;
    padding: 15px;
}

	/** Full Caption :hover Behaviour **/
	#mainwrapper .box:hover .full-caption {
		-moz-transform: translateY(100%);
		-o-transform: translateY(100%);
		-webkit-transform: translateY(100%);
		opacity: 1;
		transform: translateY(100%);
	}


/*PAGE FOUR*/
.page-four {
	background: url(../img/page-four/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	position: relative;
	z-index: 100;
	    float: left;
    	clear: both;
}
	.border {
		border: 2px solid #ffcc00;
		width: 97%;
	    margin: 30px auto 30px auto;
	}

	.container {
		width: 530px;
		margin-top: 90px;
		margin-left: 170px;
		color: #004b72;
	}

	.container h1 {
		font-size: 40px;
	}

	.container p {
	    font-size: 21px;
	    color: #004b72;
	    line-height: 1.5;
	}

	.container button {
		font-size: 20px;
   	    background: #ffcc00;
	    padding: 20px 100px;
	    border: none;
	    border-radius: 10px;
	    color: #004b72;
	    font-weight: bold;
	    margin: 100px 0 250px 0;
	}



/*PAGE FIVE*/
.page-five {
	background: #004b72;
	background-size: cover;
	width: 100%;
		float: left;
    	clear: both;
}
	.mega {
		height: 281px;
		text-align: center;
	}
	.mega h1 {
	    padding: 5% 0;
	    line-height: 2;
	    color: white;
	    letter-spacing: 10px;
	    font-size: 50px;
	}

	.plan-a {
		width: 50%;
    	float: left;
	}
	.plan-a img {
		width: 100%;
		height: 285px;
	}
	.plan-b {
		width: 50%;
		float: right;
	}
	.plan-b img{
		width: 100%;
		height: 285px;
	}

		/*HOVER PHOTOS*/
		#mainwrapper2 {
			font: 10pt normal Arial, sans-serif;
			height: auto;
			text-align: center;
			width: 100%;
		}

		#mainwrapper2 h1{
			font-size: 40px;
			text-align: center;
			width: 50%;
			margin-top: 15px;
			float: right;
		}

		#mainwrapper2 h2{
			font-size: 40px;
			text-align: center;
			width: 50%;
			margin-top: 15px;
		}

		#mainwrapper2 p {
			font-size: 25px;
			text-align: center;
			padding: 50px 0px 50px 0px;
			width: 100%;
			float: left;
    		clear: both;
		}
		
		#mainwrapper2 h3{
			font-size: 40px;
			text-align: center;
			width: 50%;
			float: right;
		}
		
		#mainwrapper2 h4{
			font-size: 40px;
			text-align: center;
			width: 50%;
			float: left;
		}

		/* Image Box Style */
		#mainwrapper2 .box2 {
			cursor: pointer;
			float: left;
			position: relative;
			overflow: hidden;
		    width: 100%;
		    height: 281px;
		}

		#mainwrapper2 .box2 img {
			position: absolute;
			left: 0;
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				-ms-transition: all 300ms ease-out;	
			transition: all 300ms ease-out;
		}

		/* Caption Common Style */
		#mainwrapper2 .box2 .caption {
			background-color: rgba(0,0,0,0.8);
			position: absolute;
			color: #fff;
			z-index: 100;
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				-ms-transition: all 300ms ease-out;	
				transition: all 300ms ease-out;
			left: 0;
		}

		/** Caption 3: Fade **/
		#mainwrapper2 .box2 .fade-caption {
			opacity: 0;
		    width: 100%;
		    height: 251px;
			text-align: left;
			padding: 15px;
		}

		/** Fade Caption :hover Behaviour **/
		#mainwrapper2 .box2:hover .fade-caption {
			opacity: 1;
		}
				/*HOVER PHOTOS*/
				#mainwrapper2-float {
					font: 10pt normal Arial, sans-serif;
					height: auto;
					text-align: center;
					width: 100%;
				}

					#mainwrapper2-float h1{
						font-size: 40px;
						text-align: center;
						width: 50%;
						margin-top: 15px;
						float: right;
					}

					#mainwrapper2-float h2{
						font-size: 40px;
						text-align: center;
						width: 50%;
						margin-top: 15px;
					}

					#mainwrapper2-float p {
						font-size: 25px;
						text-align: center;
						padding: 50px 0px 50px 0px;
						width: 100%;
						float: left;
			    		clear: both;
					}
					
					#mainwrapper2-float h3{
						font-size: 40px;
						text-align: center;
						width: 50%;
						float: right;
					}
					#mainwrapper2-float h4{
						font-size: 40px;
						text-align: center;
						width: 50%;
						float: left;
					}

				/* Image Box Style */
				#mainwrapper2-float .box2 {
					cursor: pointer;
					float: left;
					position: relative;
					overflow: hidden;
				    width: 100%;
				    height: 281px;
				}

				#mainwrapper2-float .box2 img {
					position: absolute;
					left: 0;
						-webkit-transition: all 300ms ease-out;
						-moz-transition: all 300ms ease-out;
						-o-transition: all 300ms ease-out;
						-ms-transition: all 300ms ease-out;	
					transition: all 300ms ease-out;
				}

				/* Caption Common Style */
				#mainwrapper2-float .box2 .caption {
					background-color: rgba(0,0,0,0.8);
					position: absolute;
					color: #fff;
					z-index: 100;
						-webkit-transition: all 300ms ease-out;
						-moz-transition: all 300ms ease-out;
						-o-transition: all 300ms ease-out;
						-ms-transition: all 300ms ease-out;	
						transition: all 300ms ease-out;
					left: 0;
				}

				/** Caption 3: Fade **/
				#mainwrapper2-float .box2 .fade-caption, #mainwrapper2-float .box2 .scale-caption  {
					opacity: 0;
				    width: 100%;
				    height: 285px;
					text-align: left;
					padding: 15px;
				}

				/** Fade Caption :hover Behaviour **/
				#mainwrapper2-float .box2:hover .fade-caption, #mainwrapper2-float .box2:hover .scale-caption  {
					opacity: 1;
				}

/*PAGE SIX SIX SIX SIX SIX*/
.page-six {
	background: url(../img/page-six/background.jpg) no-repeat;
	background-size: cover;
	width: 100%;
		float: left;
		clear: both;
}

.page-six h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    color: #004b72;
}
	.bordure2 {
		border: 2px solid #ffcc00;
		width: 25%;
	    margin: 60px auto 60px auto;
	}

	.paragraphe {
		width: 650px;
		margin-left: 170px;
	}
	.paragraphe p {
	    font-size: 20px;
	    line-height: 2;
	    color: #004b72;
	}
	.paragraphe b {
		text-transform: uppercase;
	}

	.page-six ul li {
		display: inline-block;
		margin: 90px 50px 160px 0;
	}

	.page-six ul li img {
	    width: 245px;
   		height: 70px;
	}

footer {
	text-align: center;
	background: #013651;
	margin: auto;
	width: 100%;
		float: left;
		clear: both;
}

footer section {
	margin: auto;
	width: 100%;
}

footer section article {
	display: inline-table;
    padding: 3% 5%;
}

footer h3 {
	font-size: 25px;
    color: white;
    margin-bottom: 40px;
}

footer img {
	width: 40px;
	margin: 0 15px;
}

footer ul li,footer p{
	font-size: 15px;
	color: white;
	margin: 10px 0px;
}




/*--------------------------------------------RESPONSIVE-------------------------------------------------*/
@media screen and (min-width: 1370px) and (max-width: 9000px) {
	main {
		width: 1180px;
		margin: auto;
	}
}

@media screen and (max-width: 1000px) {
	.logo {
	    width: 95px;
	    padding: 15px 0;
	}

	/*PAGE ONE*/
	.page-one {
		background: url(../img/paris2.jpg) no-repeat;
		transition:1s;
		background-size: cover;
		background-attachment: fixed;
		text-align: center;
	}

	.block-search,.about {
	    width: 100%;
	    margin: auto;
	}

	.about {
	    padding-top: 130px;
	}

	.rechercher {
	    float: none;
	    width: 60%;
	    height: auto;
	    padding: 15px;
	    margin: 50px auto;
	}
	.rechercher input[type="text"],.rechercher input[type="date"] {
	    width: 90%;
	}

	.rechercher input[type="number"] {
	    margin: 36px 5% 35px 5%;
	    display: inline-block;
	    padding: 4%;
	    border: 2px solid #ffcc00;
	}

	.rechercher input[type="radio"] {
		margin: 35px 3%;
	    font-size: 20px;
	}

	.bordure {
	    margin: 45px auto;
	}

	.about button {
		display: none;
	}
	.about h1 {
	    line-height: 1.5;
        letter-spacing: 5px;
	    font-size: 25px;
	    width: 90%;
   		margin: auto;
	}
		.about article {
		    width: 90%;
	    	margin: auto;
		    font-size: 20px;
		    margin-bottom: 40px;
		    /* font-weight: bolder; */
		    letter-spacing: 7px;
		}


	/*PAGE TWO*/
	.page-two h1 {
	    font-size: 40px;
	    padding: 65px 0 50px 0;
	}

	.bloc-p1 {
	    width: 80%;
	}

	.bloc-p1 img {
	    width: 90%;
	}

	/*PAGE THREE*/
	.page-three {
	    width: 100%;
	    background: #004b72;
	}

	.block1 {
		display: none;
	    width: 100%;
	    height: 400px;
	    float: left;
	}

	.block2 {
	    height: auto;
	}
	.block2,.block3 {
		width: 50%;
	}

	.block2 h2 {
	    font-size: 25px;
	    letter-spacing: 3;
	    padding: 50px 0;
	    line-height: 3;
	    width: 90%;
	    margin: auto;
	}

	/*PAGE FOUR*/
	.container {
	    width: 90%;
	    margin-top: 0;
	    margin-left: 0;
	    color: #004b72;
	    margin: 90px auto;
	    text-align: center;
	}

	.container h1 {
	    font-size: 30px;
	    width: 90%;
	    margin: -30px auto 0;
	}

	.container p {
	    font-size: 17px;
	    line-height: 2;
	    width: 90%;
	    margin: auto;
	}

	.container button {
	    font-size: 17px;
	    margin: 100px auto 0;
	}

	.border {
	    width: 80%;
	    margin: 50px auto;
	}

	/*PAGE FIVE*/
	.mega {
	    height: auto;
	    text-align: center;
	}
	.mega h1 {
	    padding: 3%;
	    color: white;
	    font-size: 35px;
	    line-height: 2;
	}

	.plan-a, .plan-b {
	    width: 100%;
	    float: none;
	}

	#mainwrapper2 h1,#mainwrapper2 h2,#mainwrapper2 h3,#mainwrapper2 h4, 
	#mainwrapper2-float h1, #mainwrapper2-float h2, 
	#mainwrapper2-float h3, #mainwrapper2-float h4 {
	    font-size: 30px;
	    letter-spacing: 3px;
	}

	#mainwrapper2-float p {
	    font-size: 18px;
	    letter-spacing: 3px;
	}

	/*PAGE SIX*/
	.page-six h1 {
	    font-size: 30px;
	    padding-top: 70px;
	}
	.page-six ul li {
	    display: inline-block;
	    margin:50px 0px;
	}
	.page-six {
		text-align: center;
	}
	.page-six ul li img {
	    width: 200px;
	    height: 60px;
	    margin: 0 30px;
	}

	.paragraphe {
		text-align: center;
	    width: 100%;
	    margin-left: 0;
	}
	.paragraphe p {
	    width: 50%;
	    font-size: 18px;
	    margin: auto;
    	text-align: center;
	}

	/*FOOTER*/
	footer h3 {
	    font-size: 16px;
	    color: white;
	    margin: 30px 0 40px;
	}
}


@media screen and (max-width: 610px) {
	.toggle-fl img {
	    width: 30px;
	}

	.arrow {
	    top: 30px;
	}

	.flag {
	    position: absolute;
	    top: 5px;
	    right: 30px;
	    padding: 20px 30px 0 0;
	}

	/*PAGE ONE*/
	.about h1 {
	    line-height: 1.5;
	    letter-spacing: 5px;
	    font-size: 20px;
	    width: 90%;
	    margin: auto;
	}	

	.about article {
	    font-size: 15px;
	    margin-bottom: 30px;
	    font-weight: bolder;
	}

	/*PAGE TWO*/
	.page-two h1 {
	    font-size: 30px;
	    padding: 65px 0 50px 0;
	    letter-spacing: 3px;
	    width: 95%;
	    margin: auto;
	}

	.page-two p {
	    font-size: 15px;
	    text-align: justify;
	    text-indent: 3em;
	    line-height: 1.8;
	}

	/*PAGE FIVE*/
	#mainwrapper2 h1,#mainwrapper2 h2,#mainwrapper2 h3,#mainwrapper2 h4, 
	#mainwrapper2-float h1, #mainwrapper2-float h2, 
	#mainwrapper2-float h3, #mainwrapper2-float h4 {
		font-size: 25px;
	    letter-spacing: 5px;
	}

	#mainwrapper2-float .box2 .fade-caption, #mainwrapper2-float .box2 .scale-caption, #mainwrapper2 .box2 .fade-caption {
	    padding: 5% 0;
	}

	#mainwrapper h3 {
	    padding: 10px 0 20px 0;
	    font-size: 20px;
	    letter-spacing: 5px;
	}

	/*PAGE SIX*/
	.page-six ul li img {
	    width: 170px;
	    height: 50px;
	    margin: 0 30px;
	}
}

@media screen and (max-width: 435px) {
	.toggle-fl img {
	    display: none;
	}

	.logo {
	    padding: 15px 0;
	    margin: auto;
	    display: block;
	}

	/*PAGE ONE*/
	.about {
	    padding-top: 110px;
	}
	.rechercher input[type="radio"] {
	    margin: 35px 0.5%;
	    font-size: 20px;
	}

	.rechercher input[type="number"] {
	    margin: 36px 2%;
	    display: inline-block;
	    padding: 4%;
	    border: 2px solid #ffcc00;
	}

	.rechercher h1 {
	    font-size: 20px;
	    margin: 22px 0;
	    letter-spacing: 3px;
	}

	.rechercher button {
	    width: 100%;
	    margin: auto;
    	padding: 20px 2%;
	}

	.rechercher label {
	    font-size: 15px;
	}


	/*PAGE THREE*/
	.page-three {
	    height: auto;
	}

	.text-none {
		display: block;
	}


	.block1 {
		height: auto;
	    display: block;
	}
	.block2 {
		display: none;
	}

	.block3 {
	    height: auto;
	}

	#mainwrapper .box {
	    height: 40%;
	    width: 102%;
	}

	#mainwrapper p {
	    line-height: 1.5;
	}

	.text-none h2 {
	    font-size: 25px;
	    padding-top: 50px;
	    line-height: 2;
	    letter-spacing: 5px;
	}

	.text-none button {
	    display: block;
	    width: 80%;
	    margin: 50px auto;
	    text-align: center;
	    font-size: 12px;
	    padding: 20px 2%;
	}

	/*PAGE FOUR*/
	.container h1 {
	    font-size: 25px;
	}

	.container p {
	    font-size: 15px;
	    line-height: 2;
	}

	.container button {
	    font-size: 15px;
	    width: 100%;
	}

	/*PAGE FIVE*/
	.mega h1 {
	    font-size: 25px;
	}

	#mainwrapper2 h1, #mainwrapper2 h2, #mainwrapper2 h3, #mainwrapper2 h4, 
	#mainwrapper2-float h1, #mainwrapper2-float h2, #mainwrapper2-float h3, 
	#mainwrapper2-float h4 {
    	font-size: 20px;
	}

	#mainwrapper2 p {
	    font-size: 18px;
	}
	#mainwrapper2-float p {
	    padding: 65px 0px;
	}

	#mainwrapper2 p {
		padding: 45px 0px;
	}

	/*PAGE SIX*/
	.page-six h1 {
	    font-size: 25px;
	    padding-top: 70px;
	}
	.paragraphe p {
	    width: 90%;
	    font-size: 18px;
	    margin: auto;
	    text-align: center;
	}
	.bordure2 {
	    width: 80%;
	}

	.page-six ul li img {
	    width: 155px;
	    height: 45px;
	    margin: 0 10px;
	}

	footer section article {
	    width: 80%;
	}
}

@media screen and (max-width: 414px) {
	.rechercher input[type="radio"] {
	    margin: 35px 4%;
	    font-size: 20px;
	}

	/*PAGE TWO*/
	.page-two h1 {
	    font-size: 20px;
	    line-height: 1.4;
	}
	.page-two p {
	    font-size: 14px;
	    line-height: 1.8;
	}

	/*PAGE THREE*/
	.text-none h2 {
	    font-size: 20px;
	    padding-top: 50px;
	    line-height: 2;
	    letter-spacing: 5px;
	}

	/*PAGE FOUR*/
	.container h1 {
	    font-size: 23px;
	}

	.container p {
	    font-size: 14px;
	    line-height: 2;
	}

	.container button {
	    font-size: 13px;
	}

	/*PAGE FIVE*/
	#mainwrapper2 .box2 {
	    width: 100%;
	    height: 225px;
	}

	/*PAGE SIX*/
	.page-six h1 {
	    font-size: 20px;
	}

	.bordure2 {
	    margin: 40px auto;
	}

	.paragraphe p {
	    font-size: 15px;
	}
}

@media screen and (max-width: 375px) {
	.rechercher {
	    width: 80%;
	}

	#mainwrapper .box {
	    height: 45%;
	    width: 102%;
	}
}


@media screen and (max-width: 320px) {
	.about h1 {
	    letter-spacing: 5px;
	    font-size: 15px;
	}

	.about article {
	    font-size: 15px;
	    margin-bottom: 30px;
	    font-weight: initial;
	    letter-spacing: 4px;
	}

	.rechercher h1 {
	    font-size: 15px;
	    margin: 20px 0;
	}

	.page-two h1 {
	    font-size: 18px;
	    line-height: 1.4;
	}

	.text-none h2 {
	    font-size: 18px;
	}

	.mega h1 {
	    font-size: 20px;
	}

	#mainwrapper2 h1, #mainwrapper2 h2, #mainwrapper2 h3, 
	#mainwrapper2 h4, #mainwrapper2-float h1, #mainwrapper2-float h2, 
	#mainwrapper2-float h3, #mainwrapper2-float h4 {
	    font-size: 17px;
	}

	#mainwrapper2 p {
	    font-size: 15px;
	}

	.page-six h1 {
	    font-size: 18px;
	}

	.paragraphe p {
	    font-size: 13px;
	}
	.page-six ul li img {
	    width: 155px;
	    height: 45px;
	    margin: -20px 10px;
	}
}
